# Pandas
Pandas documentation: http://pandas.pydata.org/pandas-docs/stable/index.html

Pandas is well suited for many different kinds of data:
- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

Pandas만의 특이한 data structure
- **Series** (1-dimensional)
- **DataFrame** (2-dimensiona): R의 data frame과 거의 흡사하며 이를 다루는 함수 또한 R과 매우 유사함

## 1. Series
- 1차원 배열
- 자동으로 성분들이 0부터 시작하는 정수로 인덱싱됨. 이는 list와 tuple과 유사함
- 인덱스를 자신이 원하는 형태로 바꿀 수 있다는 점에서 dictionary와 유사함

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a = pd.Series([1,2,3,4,5])
print(a)
# 1열은 index, 2열은 Series의 성분이 출력됨

b = pd.Series([1,3,5,np.nan,6,8]) # NaN: Not a Number
print(b)
# Series에는 type이 다른 성분을 넣을 수 있습니다.

In [ ]:
a = pd.Series([10000, 20000, 30000, 40000, 50000])
print(a)
print(a[0])
print(a[2])

# Series의 인덱싱을 날짜로 변경
dates = pd.date_range('20160801', periods = 5)
a = pd.Series([10000, 20000, 30000, 40000, 50000], index = dates)
print(a)
print(a['2016-08-01'])
print(a['2016-08-03'])
print(a[0])
print(a[2])

In [ ]:
# WikiDocs [파이썬을 이용한 시스템 트레이딩(기초편)] 에서 가져온 예제
mine = pd.Series([10,20,30], index=['naver','skt','kt'])
wife = pd.Series([10,30,20], index=['kt','naver','skt'])

family = mine + wife
print(family)

## 2. DataFrame
- 2차원 형태의 자료구조
- R의 dataframe과 거의 유사

In [ ]:
# WikiDocs [파이썬을 이용한 시스템 트레이딩(기초편)] 에서 가져온 예제
raw_data = {'col0': [1,2,3,4],
           'col1': [10,20,30,40],
           'col2': [100,200,300,400]}
data = pd.DataFrame(raw_data)
print(data)
print(data['col1'])

print(type(raw_data)) # 위에서 정의한 raw_data는 dictionary임을 확인
print(type(data)) # DataFrame이라는 type임을 확인
print(type(data['col1']))

In [ ]:
df = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

print(df)
print(df.dtypes)
print(df.head(2))
print(df.tail(2))

In [ ]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=list('ABCD'))
print(df)

In [ ]:
data = {'temperature': [29, 34, 36, 32, 30],
       'humidity': ['mid', 'high', 'high', 'mid', 'low'],
       'weather': ['cloudy', 'sunny', 'rainy', 'cloudy', 'sunny']}
a = pd.DataFrame(data)
print(a)

In [ ]:
# index에 날짜를 넣기
date = ['2016-08-01', '2016-08-02', '2016-08-03', '2016-08-04', '2016-08-05']
# 변수의 순서를 정해주기
features = ['temperature', 'humidity', 'weather']
b = pd.DataFrame(data, columns = features, index = date)
print(b)

In [ ]:
# DataFrame에서 특정 열을 가져오는 방법 1
b.temperature

In [ ]:
# DataFrame에서 특정 열을 가져오는 방법 2
b['temperature']

In [ ]:
# 특정 인덱스의 행을 가져오는 방법
b.ix['2016-08-01']

In [ ]:
# DataFrame에 'windy'라는 새로운 열을 추가
windy = ['yes', 'no', 'yes', 'yes', 'no']
b['windy'] = windy
print(b)

In [ ]:
# temperature가 30도 이하이고, weather가 sunny이면
# 나가서 논다는 데이터를 입력해봅시다.
b['play'] = (b['temperature'] <= 30) & (b['weather'] == 'sunny')
print(b)

In [ ]:
# Given the DataFrame
b

In [ ]:
# Transpose the DataFrame
b.T

In [ ]:
# delete the column 'humidity'
del b['humidity']

In [ ]:
b

## 3. Data join
There are actually four types of joins supported by the Pandas `merge` function. Here's how they are described by the documentation:

- **inner:** use intersection of keys from both frames (SQL: inner join)
- **outer:** use union of keys from both frames (SQL: full outer join)
- **left:** use only keys from left frame (SQL: left outer join)
- **right:** use only keys from right frame (SQL: right outer join)

The default is the "inner join", which was used when creating the movie_ratings DataFrame.

It's easiest to understand the different types by looking at some simple examples:

In [ ]:
A = pd.DataFrame({'color': ['green', 'yellow', 'red'], 'num':[1, 2, 3]})
A

In [ ]:
B = pd.DataFrame({'color': ['green', 'yellow', 'pink'], 'size':['S', 'M', 'L']})
B

### Inner join
A와 B에 동시에 등장하는 포인트들을 조인

In [ ]:
pd.merge(A, B, how='inner')

### Outer join
A 또는 B에 모두 등장하는 포인트들을 조인

In [ ]:
pd.merge(A, B, how='outer')

### Left join
A에 포함된 포인트들만 조인

In [ ]:
pd.merge(A, B, how='left')

### Right join
B에 포함된 포인트들만 조인

In [ ]:
pd.merge(A, B, how='right')

### Example
(From Kevin Markham's data science course)

Using the [MovieLens 100k data](http://grouplens.org/datasets/movielens/), let's create two DataFrames:

- **movies**: shows information about movies, namely a unique **movie_id** and its **title**
- **ratings**: shows the **rating** that a particular **user_id** gave to a particular **movie_id** at a particular **timestamp**

#### Movies

In [ ]:
movie_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.item'
movie_cols = ['movie_id', 'title']
movies = pd.read_table(movie_url, sep='|', header=None, names=movie_cols, usecols=[0, 1])
movies.head()

#### Ratings

In [ ]:
rating_url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.data'
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table(rating_url, sep='\t', header=None, names=rating_cols)
ratings.head()

Let's pretend that you want to examine the ratings DataFrame, but you want to know the **title** of each movie rather than its **movie_id**. The best way to accomplish this objective is by "joining" (or "merging") the DataFrames using the Pandas `merge` function:

In [ ]:
movie_ratings = pd.merge(movies, ratings)
movie_ratings.head()

Here's what just happened:

- Pandas noticed that movies and ratings had one column in common, namely **movie_id**. This is the "key" on which the DataFrames will be joined.
- The first **movie_id** in movies is 1. Thus, Pandas looked through every row in the ratings DataFrame, searching for a movie_id of 1. Every time it found such a row, it recorded the **user_id**, **rating**, and **timestamp** listed in that row. In this case, it found 452 matching rows.
- The second **movie_id** in movies is 2. Again, Pandas did a search of ratings and found 131 matching rows.
- This process was repeated for all of the remaining rows in movies.

At the end of the process, the movie_ratings DataFrame is created, which contains the two columns from movies (**movie_id** and **title**) and the three other colums from ratings (**user_id**, **rating**, and **timestamp**).

- **movie_id** 1 and its **title** are listed 452 times, next to the **user_id**, **rating**, and **timestamp** for each of the 452 matching ratings.
- **movie_id** 2 and its **title** are listed 131 times, next to the **user_id**, **rating**, and **timestamp** for each of the 131 matching ratings.
- And so on, for every movie in the dataset.

In [ ]:
print(movies.shape)
print(ratings.shape)
print(movie_ratings.shape)

Notice the shapes of the three DataFrames:

- There are 1682 rows in the movies DataFrame.
- There are 100000 rows in the ratings DataFrame.
- The `merge` function resulted in a movie_ratings DataFrame with 100000 rows, because every row from ratings matched a row from movies.
- The movie_ratings DataFrame has 5 columns, namely the 2 columns from movies, plus the 4 columns from ratings, minus the 1 column in common.

By default, the `merge` function joins the DataFrames using all column names that are in common (**movie_id**, in this case). The [documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) explains how you can override this behavior.